<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Contacto</title>
</head>
<body>
    <h1>Formulario de Contacto</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto" required>
        
        <br>
        
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" cols="50" required></textarea>
        
        <br>
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>