{% extends "administrador/baseadministrador.html" %}

{% block title %}ver mascotas{% endblock %}

{% block admin %}
    <h2>Formulario de imagen Banner</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="texto">{{ form.texto.value }}</textarea>
        <img style="max-width: 200px;" src="{{ form.url.value }}" alt="imagen">
        <input type="file" name="imagen" accept="image/*">
        {{ form.id_banner.label }} {{ form.id_banner }}
        {{form.texto.errors}}

        <button type="submit">Guardar</button>
    </form>

{%endblock%}
