{% extends "administrador/baseadministrador.html" %}

{% block title %}ver mascotas{% endblock %}

{% block admin %}
    <h2>Formulario de Promociones</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea name="descripcion">{{ form.descripcion.value }}</textarea>

        <img style="max-width: 200px;" src="{{form.url.value}}" alt="imagen">
        <input type="file" name="imagen" accept="image/*"> <!-- Campo para subir la imagen -->
        {{form.errors}}
        <button type="submit">Guardar</button>
    </form>
{%endblock%}