{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Purpose Application UI is the following chapter we've finished in order to create a complete and robust solution next to the already known Purpose Website UI.">
  <meta name="author" content="Webpixels">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <title>Mis Mascotas</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'tutor/assets/img/brand/favicon.png'%}" type="image/png">

  <link rel="stylesheet" href="{% static 'tutor/assets/libs/fullcalendar/dist/fullcalendar.min.css'%}">
  <!-- Purpose CSS -->
  <link rel="stylesheet" href="{% static 'tutor/assets/css/purpose.css'%}" id="stylesheet">
</head>

<body class="application application-offset">
  <!-- Chat modal -->
  <!-- Customizer modal -->
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Sidenav -->
    <div class="sidenav show">
      <!-- Sidenav header -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="#">
          <img src="{% static 'media/imagenes/Isologos DEARPET-03.png'%}" class="navbar-brand-img"  alt="...">
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- User mini profile -->
      <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
        <!-- Avatar -->
        <div>
          <a href="#" class="avatar rounded-circle avatar-xl">
            <i style="font-size:100px" class="fa-solid fa-user"></i>
          </a>
          <div class="mt-4">
            <h5 class="mb-0 text-white">{{nickname}}</h5>
            <span class="d-block text-sm text-white opacity-8 mb-3">Tutor</span>
          </div>
        </div>
        <!-- User info -->
        <!-- Actions -->
        
      </div>
      <!-- Application nav -->
      <div class="nav-application clearfix">
        <a href="{%url 'mascotas'%}" class="btn btn-square text-sm active">
          <span class="btn-inner--icon d-block"><i class="fas fa-home fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Mis mascotas</span>
        </a>
        <a href="{% url 'mascotas_crear' %}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-project-diagram fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Nueva Mascota</span>
        </a>
        <a href="{% url 'perfil' %}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-users-cog fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Mi Perfil</span>
        </a>
        <a href="{% url 'actualizar_perfil' %}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-user-ninja fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Editar Perfil</span>
        </a>
        <a href="{% url 'actualizar_contrasena' %}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-receipt fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Cambiar Contraseña</span>
        </a>
        <a href="#" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-cogs fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">SOS</span>
        </a>
      </div>
      <!-- Misc area -->
      
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
        <div class="container-fluid">
          <!-- Brand + Toggler (for mobile devices) -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- User's navbar -->
          <div class="navbar-user d-lg-none ml-auto">
            <ul class="navbar-nav flex-row align-items-center">
              <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon" data-action="omnisearch-open" data-target="#omnisearch"><i class="fas fa-search"></i></a>
              </li>
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
                  <div class="py-3 px-3">
                    <h5 class="heading h6 mb-0">Notifications</h5>
                  </div>
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                        <div>
                          <span class="avatar bg-primary text-white rounded-circle">AM</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                        <div>
                          <span class="avatar bg-warning text-white rounded-circle">SW</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Sandra Wayne <small class="float-right text-muted">3 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="5 hrs ago">
                        <div>
                          <span class="avatar bg-info text-white rounded-circle">JM</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Jason Miller <small class="float-right text-muted">5 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                        <div>
                          <span class="avatar bg-dark text-white rounded-circle">MJ</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Mike Thomson <small class="float-right text-muted">2 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                        <div>
                          <span class="avatar bg-primary text-white rounded-circle">RN</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Richard Nixon <small class="float-right text-muted">3 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="py-3 text-center">
                    <a href="#" class="link link-sm link--style-3">View all notifications</a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-4-800x800.jpg'%}">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <h6 class="dropdown-header px-0">Hi, Heather!</h6>
                  <a href="../application/user/profile.html" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>My profile</span>
                  </a>
                  <a href="../application/account/settings.html" class="dropdown-item">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                  </a>
                  <a href="../application/account/billing.html" class="dropdown-item">
                    <i class="fas fa-credit-card"></i>
                    <span>Billing</span>
                  </a>
                  <a href="../application/shop/orders.html" class="dropdown-item">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Orders</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="../application/authentication/login.html" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <!-- Navbar nav -->
          <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
              <!-- Overview  -->
              <li class="nav-item d-lg-none ">
                <a class="nav-link" href="../index.html">
                  Overview
                </a>
              </li>
              <li class="border-top opacity-2 my-2"></li>


              <li class="nav-item d-lg-none">
                <a class="nav-link" href="../docs/index.html">
                  Docs
                </a>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link" href="../application/authentication/register.html">
                  Register
                </a>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link" href="../application/authentication/login.html">
                  Sign in
                </a>
              </li>
            </ul><!-- Right menu -->
            <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media media-pill align-items-center">
                    <span class="avatar rounded-circle">
                      <i style="font-size: 25px;" class="fa-solid fa-user"></i>
                    </span>
                    <div class="ml-2 d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold">{{nickname}}</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <h6 class="dropdown-header px-0">Hola, {{nickname}}!</h6>
                  <a href="{% url 'actualizar_perfil' %}" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>Editar Perfil</span>
                  </a>
                  <a href="{% url 'actualizar_contrasena' %}" class="dropdown-item">
                    <i class="fas fa-cog"></i>
                    <span>Cambiar Contraseña</span>
                  </a>
                  <a href="{%url 'mascotas'%}" class="dropdown-item">
                    <i class="fa-solid fa-dog"></i>
                    <span>Mis Mascotas</span>
                  </a>
                  <a href="{% url 'mascotas_crear' %}" class="dropdown-item">
                    <i class="fa-solid fa-cat"></i>
                    <span>Agregar Mascotas</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="{%url 'logout'%}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

     
      <!-- Page content -->
      {%block veterinario%}
      {% endblock %}
      <!-- Footer -->
      <div class="footer pt-5 pb-4 footer-light" id="footer-main">
        <div class="row text-center text-sm-left align-items-sm-center">
          <div class="col-sm-6">
            <p class="text-sm mb-0">&copy; 2019 <a href="https://webpixels.io" class="h6 text-sm" target="_blank">Webpixels</a>. All rights reserved.</p>
          </div>
          <div class="col-sm-6 mb-md-0">
            <ul class="nav justify-content-center justify-content-md-end">
              <li class="nav-item dropdown border-right">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/ro.svg'%}">
                  <span class="h6 text-sm mb-0">RO</span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/es.svg'%}" class="mr-2">Spanish</a>
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/us.svg'%}" class="mr-2">English</a>
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/gr.svg'%}" class="mr-2">Greek</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pr-0" href="#">Privacy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="{% static 'tutor/assets/js/purpose.core.js'%}"></script>
  <!-- Page JS -->

  <script src="{% static 'tutor/assets/libs/apexcharts/dist/apexcharts.min.js'%}"></script>
  <script src="{% static 'tutor/assets/libs/moment/min/moment.min.js'%}"></script>
  <script src="{% static 'tutor/assets/libs/fullcalendar/dist/fullcalendar.min.js'%}"></script>
  <!-- Purpose JS -->
  <script src="{% static 'tutor/assets/js/purpose.js'%}"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="{% static 'tutor/assets/js/demo.js'%}"></script>
</body>

</html>{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Purpose Application UI is the following chapter we've finished in order to create a complete and robust solution next to the already known Purpose Website UI.">
  <meta name="author" content="Webpixels">
  <title>Purpose – Application UI Kit</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'tutor/assets/img/brand/favicon.png'%}" type="image/png">
  <!-- Font Awesome 5 -->
  <link rel="stylesheet" href="{% static 'tutor/assets/libs/@fortawesome/fontawesome-free/css/all.min.css'%}"><!-- Page CSS -->
  <link rel="stylesheet" href="{% static 'tutor/assets/libs/fullcalendar/dist/fullcalendar.min.css'%}">
  <!-- Purpose CSS -->
  <link rel="stylesheet" href="{% static 'tutor/assets/css/purpose.css'%}" id="stylesheet">
</head>

<body class="application application-offset">
  <!-- Chat modal -->
  <!-- Customizer modal -->
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Sidenav -->
    <div class="sidenav show">
      <!-- Sidenav header -->
      <div class="sidenav-header d-flex align-items-center">
        <a class="navbar-brand" href="../index.html">
          <img src="{% static 'tutor/assets/img/brand/white.png'%}" class="navbar-brand-img" alt="...">
        </a>
        <div class="ml-auto">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- User mini profile -->
      <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
        <!-- Avatar -->
        <div>
          <a href="#" class="avatar rounded-circle avatar-xl">
            <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-1-800x800.jpg'%}" class="">
          </a>
          <div class="mt-4">
            <h5 class="mb-0 text-white">{{nickname}}</h5>
            <span class="d-block text-sm text-white opacity-8 mb-3">{{especialidad}}</span>
            <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
            </a>
          </div>
        </div>
        <!-- User info -->
        <!-- Actions -->
        <div class="w-100 mt-4 actions d-flex justify-content-between">
          <a href="../application/user/profile.html" class="action-item action-item-lg text-white pl-0">
            <i class="fas fa-user"></i>
          </a>
          <a href="#modal-chat" class="action-item action-item-lg text-white" data-toggle="modal">
            <i class="fas fa-comment-alt"></i>
          </a>
          <a href="../application/shop/invoices.html" class="action-item action-item-lg text-white pr-0">
            <i class="fas fa-receipt"></i>
          </a>
        </div>
      </div>
      <!-- Application nav -->
      <div class="nav-application clearfix">
        <a href="../application/home.html" class="btn btn-square text-sm active">
          <span class="btn-inner--icon d-block"><i class="fas fa-home fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Home</span>
        </a>
        <a href="../application/project/card-listing.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-project-diagram fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Projects</span>
        </a>
        <a href="../application/task/table-listing.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-tasks fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Tasks</span>
        </a>
        <a href="../application/task/kanban-board.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-columns fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Kanban</span>
        </a>
        <a href="../application/user/card-listing.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-users-cog fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Users</span>
        </a>
        <a href="../application/user/profile.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-user-ninja fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Profile</span>
        </a>
        <a href="../application/shop/invoices.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-receipt fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Invoices</span>
        </a>
        <a href="../application/widgets.html" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-cogs fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Widgets</span>
        </a>
      </div>
      <!-- Misc area -->
      <div class="card bg-gradient-warning">
        <div class="card-body">
          <h5 class="text-white">Hello, Friend!</h5>
          <p class="text-white mb-4">
            Why not start using Purpose Application UI Kit and create something amazing today?
          </p>
          <a href="https://themes.getbootstrap.com/product/purpose-application-ui-kit/" class="btn btn-sm btn-block btn-white rounded-pill" target="_blank">Get started</a>
        </div>
      </div>
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border" id="navbar-main">
        <div class="container-fluid">
          <!-- Brand + Toggler (for mobile devices) -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- User's navbar -->
          <div class="navbar-user d-lg-none ml-auto">
            <ul class="navbar-nav flex-row align-items-center">
              <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon" data-action="omnisearch-open" data-target="#omnisearch"><i class="fas fa-search"></i></a>
              </li>
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
                  <div class="py-3 px-3">
                    <h5 class="heading h6 mb-0">Notifications</h5>
                  </div>
                  <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                        <div>
                          <span class="avatar bg-primary text-white rounded-circle">AM</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                        <div>
                          <span class="avatar bg-warning text-white rounded-circle">SW</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Sandra Wayne <small class="float-right text-muted">3 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="5 hrs ago">
                        <div>
                          <span class="avatar bg-info text-white rounded-circle">JM</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Jason Miller <small class="float-right text-muted">5 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago">
                        <div>
                          <span class="avatar bg-dark text-white rounded-circle">MJ</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Mike Thomson <small class="float-right text-muted">2 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago">
                        <div>
                          <span class="avatar bg-primary text-white rounded-circle">RN</span>
                        </div>
                        <div class="flex-fill ml-3">
                          <div class="h6 text-sm mb-0">Richard Nixon <small class="float-right text-muted">3 hrs ago</small></div>
                          <p class="text-sm lh-140 mb-0">
                            Some quick example text to build on the card title.
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="py-3 text-center">
                    <a href="#" class="link link-sm link--style-3">View all notifications</a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-4-800x800.jpg'%}">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <h6 class="dropdown-header px-0">Hi, Heather!</h6>
                  <a href="../application/user/profile.html" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>My profile</span>
                  </a>
                  <a href="../application/account/settings.html" class="dropdown-item">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                  </a>
                  <a href="../application/account/billing.html" class="dropdown-item">
                    <i class="fas fa-credit-card"></i>
                    <span>Billing</span>
                  </a>
                  <a href="../application/shop/orders.html" class="dropdown-item">
                    <i class="fas fa-shopping-basket"></i>
                    <span>Orders</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="../application/authentication/login.html" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <!-- Navbar nav -->
          <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
              <!-- Overview  -->
              <li class="nav-item d-lg-none ">
                <a class="nav-link" href="../index.html">
                  Overview
                </a>
              </li>
              <li class="border-top opacity-2 my-2"></li>


              <li class="nav-item d-lg-none">
                <a class="nav-link" href="../docs/index.html">
                  Docs
                </a>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link" href="../application/authentication/register.html">
                  Register
                </a>
              </li>
              <li class="nav-item d-lg-none">
                <a class="nav-link" href="../application/authentication/login.html">
                  Sign in
                </a>
              </li>
            </ul><!-- Right menu -->
            <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media media-pill align-items-center">
                    <span class="avatar rounded-circle">
                      <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-4-800x800.jpg'%}">
                    </span>
                    <div class="ml-2 d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <h6 class="dropdown-header px-0">Hi, John!</h6>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>My profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-credit-card"></i>
                    <span>Billing</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-tasks"></i>
                    <span>Activity</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

     
      <!-- Page content -->
      <div class="page-content">
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
              <h5 class="h3 font-weight-400 mb-0 text-white">Moning, Heather!</h5>
              <span class="text-sm text-white opacity-8">Have a nice day!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-md-6">
            <div class="card card-fluid">
              <div class="card-header">
                <h6 class="mb-0">Engagement</h6>
              </div>
              <div class="card-body">
                <!-- Chart -->
                <div id="apex-engagement" data-color="primary" data-height="280"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4">Emails sent</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="50" data-text="98" data-textclass="h1" data-color="warning"></div>
                <div class="d-flex mt-4">
                  <div class="col">
                    <span class="d-block badge badge-dot badge-lg h6">
                      <i class="bg-danger"></i>30 not sent
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6">
                      <i class="bg-success"></i>68 success
                    </span>
                  </div>
                  <div class="col">
                    <span class="d-block badge badge-dot badge-lg h6">
                      <i class="bg-warning"></i>38 opened
                    </span>
                    <span class="d-block badge badge-dot badge-lg h6">
                      <i class="bg-danger"></i>SMTP error
                    </span>
                  </div>
                </div>
                <a href="#" class="btn btn-block btn-secondary mt-auto">Open insights</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card card-fluid">
              <div class="card-body">
                <div class="row align-items-center mb-4">
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-1" data-progress="90" data-color="primary"></div>
                  </div>
                  <div class="col">
                    <a href="#!" class="d-block h6 mb-0">98 tasks solved</a>
                    <a href="#" class="text-sm text-muted">Purpose Website UI</a>
                  </div>
                </div>
                <div class="row align-items-center mb-4">
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-2" data-progress="40" data-color="warning"></div>
                  </div>
                  <div class="col">
                    <a href="#!" class="d-block h6 mb-0">13 tasks solved</a>
                    <a href="#" class="text-sm text-muted">Webpixels website</a>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-3" data-progress="60" data-color="info"></div>
                  </div>
                  <div class="col">
                    <a href="#!" class="d-block h6 mb-0">23 tasks solved</a>
                    <a href="#" class="text-sm text-muted">Purpose Dashboard UI</a>
                  </div>
                </div>
                <a href="#" class="btn btn-sm btn-block btn-secondary mt-5">Open insights</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card card-fluid">
              <div class="card-body text-center d-flex flex-column justify-content-center">
                <h5 class="mb-4">Congratulations!</h5>
                <div class="progress-circle progress-lg mx-auto" id="progress-4" data-progress="78" data-text="23" data-textclass="h1" data-color="primary"></div>
                <p class="mt-4 mb-0">
                  Github issues were closed this week.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card card-fluid bg-gradient-dark border-0">
              <div class="card-header border-0 pb-0">
                <h6 class="text-white mb-0"><span class="text-danger mr-2">●</span>Project at risk</h6>
              </div>
              <div class="card-body text-center">
                <!-- Avatar -->
                <a href="#" class="avatar avatar-lg rounded-circle">
                  <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/brand-avatar-1.png'%}">
                </a>
                <!-- Title -->
                <h5 class="h6 mt-4 mb-0 text-white">Website redesign</h5>
                <!-- Actions -->
                <div class="actions actions-dark d-flex justify-content-between px-4 mt-4">
                  <a href="#" class="action-item">
                    <i class="fas fa-chart-pie"></i>
                  </a>
                  <a href="#" class="action-item">
                    <i class="fas fa-user"></i>
                  </a>
                  <a href="#" class="action-item">
                    <i class="fas fa-info-circle"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div class="row justify-content-between align-items-center">
                  <div class="col-6">
                    <div style="max-width: 120px;">
                      <div class="spark-chart" data-toggle="spark-chart" data-type="line" data-height="50" data-color="danger" data-dataset="[42, 55, 19, 16, 84, 24, 10, 11, 93, 15, 81]"></div>
                    </div>
                  </div>
                  <div class="col-auto text-center">
                    <span class="d-block h4 mb-0 text-white">8</span>
                    <span class="d-block text-sm text-white opacity-8">Days delay</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-7 d-sm-flex flex-sm-column">
            <div class="row flex-sm-fill">
              <div class="col-sm-4">
                <div class="card card-fluid">
                  <div class="card-body text-center">
                    <div class="avatar-parent-child">
                      <a href="#" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-1-800x800.jpg'%}">
                      </a>
                      <span class="avatar-child avatar-badge bg-success"></span>
                    </div>
                    <h5 class="h6 mt-4 mb-0">John Sullivan</h5>
                    <a href="#" class="d-block text-sm text-muted mb-3">@john.sullivan</a>
                    <div class="actions d-flex justify-content-between px-4">
                      <a href="#" class="action-item">
                        <i class="fas fa-envelope"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-phone"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card card-fluid">
                  <div class="card-body text-center">
                    <div class="avatar-parent-child">
                      <a href="#" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-2-800x800.jpg'%}">
                      </a>
                      <span class="avatar-child avatar-badge bg-warning"></span>
                    </div>
                    <h5 class="h6 mt-4 mb-0">Heather Wright</h5>
                    <a href="#" class="d-block text-sm text-muted mb-3">@heather.wright</a>
                    <div class="actions d-flex justify-content-between px-4">
                      <a href="#" class="action-item">
                        <i class="fas fa-envelope"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-phone"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card card-fluid">
                  <div class="card-body text-center">
                    <div class="avatar-parent-child">
                      <a href="#" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-3-800x800.jpg'%}">
                      </a>
                      <span class="avatar-child avatar-badge bg-danger"></span>
                    </div>
                    <h5 class="h6 mt-4 mb-0">James Lewis</h5>
                    <a href="#" class="d-block text-sm text-muted mb-3">@james.lewis</a>
                    <div class="actions d-flex justify-content-between px-4">
                      <a href="#" class="action-item">
                        <i class="fas fa-envelope"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-phone"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-sm-fill">
              <div class="col-sm-4">
                <div class="card card-fluid">
                  <div class="card-body text-center">
                    <div class="avatar-parent-child">
                      <a href="#" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-1-800x800.jpg'%}">
                      </a>
                      <span class="avatar-child avatar-badge bg-success"></span>
                    </div>
                    <h5 class="h6 mt-4 mb-0">John Snow</h5>
                    <a href="#" class="d-block text-sm text-muted mb-3">@john.snow</a>
                    <div class="actions d-flex justify-content-between px-4">
                      <a href="#" class="action-item">
                        <i class="fas fa-envelope"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-phone"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card card-fluid">
                  <div class="card-body text-center">
                    <div class="avatar-parent-child">
                      <a href="#" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-2-800x800.jpg'%}">
                      </a>
                      <span class="avatar-child avatar-badge bg-success"></span>
                    </div>
                    <h5 class="h6 mt-4 mb-0">John Michael</h5>
                    <a href="#" class="d-block text-sm text-muted mb-3">@john.michael</a>
                    <div class="actions d-flex justify-content-between px-4">
                      <a href="#" class="action-item">
                        <i class="fas fa-envelope"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-phone"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card card-fluid">
                  <div class="card-body text-center">
                    <div class="avatar-parent-child">
                      <a href="#" class="avatar avatar-lg rounded-circle">
                        <img alt="Image placeholder" src="{% static 'tutor/assets/img/theme/light/team-3-800x800.jpg'%}">
                      </a>
                      <span class="avatar-child avatar-badge bg-warning"></span>
                    </div>
                    <h5 class="h6 mt-4 mb-0">Monroe Parker</h5>
                    <a href="#" class="d-block text-sm text-muted mb-3">@monroe.parker</a>
                    <div class="actions d-flex justify-content-between px-4">
                      <a href="#" class="action-item">
                        <i class="fas fa-envelope"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-phone"></i>
                      </a>
                      <a href="#" class="action-item">
                        <i class="fas fa-share-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5">
            <!-- Calendar -->
            <div class="card widget-calendar">
              <div class="card-header">
                <div class="text-sm text-muted mb-1 widget-calendar-year"></div>
                <div class="h5 mb-0 widget-calendar-day"></div>
              </div>
              <!-- Calendar -->
              <div data-toggle="widget-calendar"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div class="footer pt-5 pb-4 footer-light" id="footer-main">
        <div class="row text-center text-sm-left align-items-sm-center">
          <div class="col-sm-6">
            <p class="text-sm mb-0">&copy; 2019 <a href="https://webpixels.io" class="h6 text-sm" target="_blank">Webpixels</a>. All rights reserved.</p>
          </div>
          <div class="col-sm-6 mb-md-0">
            <ul class="nav justify-content-center justify-content-md-end">
              <li class="nav-item dropdown border-right">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/ro.svg">
                  <span class="h6 text-sm mb-0">RO</span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/es.svg" class="mr-2">Spanish</a>
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/us.svg" class="mr-2">English</a>
                  <a href="#" class="dropdown-item"><img alt="Image placeholder" src="{% static 'tutor/assets/img/icons/flags/gr.svg" class="mr-2">Greek</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pr-0" href="#">Privacy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <script src="{% static 'tutor/assets/js/purpose.core.js'%}"></script>
  <!-- Page JS -->
  <script src="{% static 'tutor/assets/libs/progressbar.js'%}/dist/progressbar.min.js'%}"></script>
  <script src="{% static 'tutor/assets/libs/apexcharts/dist/apexcharts.min.js'%}"></script>
  <script src="{% static 'tutor/assets/libs/moment/min/moment.min.js'%}"></script>
  <script src="{% static 'tutor/assets/libs/fullcalendar/dist/fullcalendar.min.js'%}"></script>
  <!-- Purpose JS -->
  <script src="{% static 'tutor/assets/js/purpose.js'%}"></script>
  <!-- Demo JS - remove it when starting your project -->
  <script src="{% static 'tutor/assets/js/demo.js'%}"></script>
</body>

</html>