{% extends "html/template.html" %}
{% load static %}
{% block title %}login{% endblock %}

{% block body %}

<div class="cien col-12 row">
    <div class="col-md-6 center">
        <div class="col-md-6 centrado">
            <div class="card">
                <img class="card-img-top" src="{% static "media/iconos/ICONOS-16.png" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Tutor</h5>
                  <p class="card-text">Soy tutor y quiero mantener el cuidado de mi mascota.</p>
                  <a href="/login?t=t1" class="btn btn-dearpet">Soy tutor</a>
                  <p class="card-text">No tienes una cuenta</p>
                  <a class="btn btn-dearpet-secundario" href="{% url 'crearusuario'%}">Registrarme tutor</a>    
                </div>
              </div>
        </div>        
    </div>
    <div class="col-md-6 center">
        <div class="col-md-6 centrado">
            <div class="card">
                <img class="card-img-top" src="{% static "media/iconos/ICONOS-10.png" %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Veterinario</h5>
                  <p class="card-text">Soy profesional veternario y necesito administrar mis pacientes.</p>
                  <a href="/login?t=v1" class="btn btn-dearpet">Soy Veterinario</a>
                  <p class="card-text">No tienes una cuenta</p>
                  <a class="btn btn-dearpet-secundario" href="{% url 'crearveterinario'%}">Resgistrarme como veterinario</a>
                </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}